<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bizzan.nirvana.earn.mapper.LockedSavingsStatisticMapper">

    <update id="increaseNum">
        update locked_savings_statistic s set s.num = s.num + #{amount} where s.id= #{id}
    </update>
</mapper>
