<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bizzan.nirvana.option.mapper.ContractOptionCoinMapper">

    <select id="getBaseSymbol" resultType="java.lang.String">
        select distinct a.base_symbol from  contract_option_coin a where a.enable = 1
    </select>
</mapper>
